@use "../utilities/variables" as v;

/* FOOTER */

#footer {
  background: v.$color-blanco;
  color: v.$color-texto-oscuro;
  padding: 18px 14px;
  text-align: center;
}

/* BOTONES REDES */

@each $nombre, $color in v.$redes {
  .btn-#{$nombre} {
    background-color: $color;
    color: white;
    padding: 10px 14px;
    border-radius: v.$radius-sm;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    margin: 4px;
    transition: 0.2s ease;

    &:hover {
      opacity: 0.85;
    }
  }
}

/* BOTON FLOTANTE WHATSAPP */

.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:30px;
width:60px;
height:60px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;
box-shadow:0 6px 12px rgba(0,0,0,0.3);
z-index:999;
transition:transform .2s ease;
}

.whatsapp-float:hover{
transform:scale(1.1);
color:white;
}

.whatsapp-float{
animation:pulse 2s infinite;
}

@keyframes pulse{
0%{transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}