@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
@use "../utilities/extend";

.lista-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.producto {
  @extend %card-base;
  padding: v.$espaciado-grande;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  &:hover {
    @include m.card-hover;
  }

  img {
    @include m.img-square;
    margin-bottom: 10px;
  }
}

.precio {
  color: v.$color-principal;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 10px;
}

.stock {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 6px;

  &-ok {
    color: #28a745; // verde
  }

  &-low {
    color: #ffc107; // amarillo
  }

  &-out {
    color: #dc3545; // rojo
  }
}

.btn-cart {
  font-weight: 700;
  border-radius: 12px;
  transition: 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

/* BUSCADOR */

.search-input {
  padding-left: 38px;
}

/* icono lupa */

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  pointer-events: none;
}

/* boton limpiar */

.clear-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: white;
  opacity: 0.6;
  cursor: pointer;
}

.clear-search:hover {
  opacity: 1;
}

@include m.desktop {
  .lista-productos {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include m.tablet {
  .lista-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include m.mobile {
  .lista-productos {
    grid-template-columns: 1fr;
  }
}